[submodule "road_detection"]
	path = road_detection
	url = git@github.com:aiegoo/road_detection
[submodule "Proj_road_detection-"]
	path = Proj_road_detection-
	url = git@github.com:blackcoke/Proj_road_detection-
